<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>

<!------ Include the above in your HEAD tag ---------->

<div class="container" style="margin-top: 14vh;">
	<div class="row text-center">
        <div class="col-sm-6 col-sm-offset-3">
        <br><br> <h2 style="color:#F067FF">Đăng ký thành công</h2>
        <i class="far fa-check-circle" style="font-size: 19vh; color: #F067FF;"></i>
        <h3>Lời cảm ơn</h3>
        <p style="font-size:20px;color:#5C5C5C;">Xin cảm ơn vì đã chọn Nutuki làm nhà cung cấp dịch vụ và cho chúng tôi cơ hội phát triển. Chúng tôi sẽ liên hệ trao đổi và tư vấn với bạn trong thời gian sớm nhất. Thank you❤</p>
        <a href="{% url 'home'%}" class="btn btn-success" style="background-color: #F067FF; border-color: #F067FF;">     Quay về trang chủ      </a>
        </div>
        
	</div>
</div>